<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory app</title>
  </head>
  <body>
    <h2>Categories</h2>
    <% categories.map((category)=>{ %>
    <div class="product-id">ID: <%= category.category_id %></div>
    <div class="category-name">
      <a href="/category/<%=category.category_id%>"><%= category.name %></a>
    </div>
    <div class="product-quantity">DESC: <%= category.description %></div>
    <%})%>
    <h2>Product inventory</h2>
    <% products.map((product)=>{ %>
    <div class="product-id">ID: <%= product.product_id %></div>
    <div class="product-name">
      <a href="/product/<%= product.product_id %>"><%= product.name %></a>
    </div>
    <div class="product-quantity">QTY: <%= product.quantity_in_stock %></div>
    <%})%>
  </body>
</html>
