<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory app</title>
  </head>
  <body>
    <div>
      <%= product.product_id %> <%= product.name %> <%= product.description %>
      <%= product.price %> <%= product.quantity_in_stock %> <%=
      product.category_id %> <%= product.brand_id %> <%= product.created_at %>
      <%= product.updated_at %>
    </div>
    <a href="/product/<%= product.product_id %>/update">Update Product</a>
  </body>
</html>
